
/**
  |cmmb============================
  | What are we doing - Чим ми займаємося
  |============================
*/

.work__wrap{
	position: relative;

}

.work__label {
	position: absolute;
	bottom: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 370px;
	height: 70px;

	background: var(--bg-absolut-work);

}

.work__title {

	margin-top: 0;
	margin-bottom: 0;

	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	text-align: center;

	color: var(--wite-color);
}


// end --- What are we doing - Чим ми займаємося  ---end